.App {
  max-width: 600px;
  margin: 80px auto;
}

.App a {
  color: #f5b257;
  text-decoration: none;
}

.App footer {
  font-size: 11px;
  margin: 8px 0;
  text-align: center;
  color: rosybrown;
}
