.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  margin-right: 8px;
  margin-bottom: 5px;
}

.WeatherForecast-temperature {
  margin-top: 5px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 4px;
}
